body {
  background-color: rgb(117, 156, 113);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  border-radius: 5%;
  background-color: white;
  height: auto;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.done {
  text-decoration: line-through;
  color: green;
}
